.col-md-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    margin: 0 0 1.5rem 0;

    @include respond(tab-land) {
        width: 33%;
        padding: 0 5px;
    }
}

.col-md-9 {
    width: 75%;
    display: inline-block;
}