.view-btn {
    background: black;
    padding: 8px;
    font-size: 0.9rem;
    border-radius: 5px;
    text-align: center;
    max-width: 150px;
    color: $color-white;
    transition: background 0.3s ease-in-out;

    @include respond(tab-land) {
        max-width: 80px;
        padding: 6px;
        position: absolute;
        right: 0.5rem;
        bottom: 1.5rem;
    }
    
    &:hover {
        cursor: pointer;
        background: $color-primary-light;
    }
}